<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


	<import resource="applicationContext-security.xml" />

	<bean id="adminLoanRepository"
		class="com.lms.repository.AdminLoanRepository" />

	<bean id="emiRepository" class="com.lms.repository.EmiRepository" />

	<bean id="emiService" class="com.lms.service.impl.EmiServiceImpl">
		<property name="emiRepo" ref="emiRepository" />
	</bean>

	<bean id="adminLoanService"
		class="com.lms.service.impl.AdminLoanServiceImpl">
		<property name="adminLoanRepo" ref="adminLoanRepository" />
		<property name="emiService" ref="emiService" />
	</bean>

	<bean id="loanRepository"
		class="com.lms.repository.LoanRepository" />

	<bean id="loanService"
		class="com.lms.service.impl.LoanServiceImpl">
		<property name="loanRepo" ref="loanRepository" />
	</bean>

	<bean name="userRepository"
		class="com.lms.repository.UserRepository" />

	<bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<bean name="realUserService"
		class="com.lms.service.impl.UserServiceImpl">
		<property name="userRepository" ref="userRepository" />
		<property name="passwordEncoder" ref="passwordEncoder" />
	</bean>

	<bean name="customUserService"
		class="com.lms.security.CustomUserService">
		<property name="userService" ref="realUserService" />
	</bean>

	<bean id="loginSuccessHandler"
		class="com.lms.security.LoginSuccessHandler">
		<property name="userService" ref="realUserService" />
		<property name="defaultTargetUrl"
			value="/contact/ContactUs.zul" />
	</bean>
</beans>